*.lock
*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs/**/*
Camera2Basic/obj/**/*
Camera2Basic/bin/**/*
*.suo
Client/CutYourSchnitzel/obj
Client/CutYourSchnitzel/obj/**/*
Client/CutYourSchnitzel/.vs
Client/CutYourSchnitzel/.vs/**/*